.navbar {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkdXorKf3HO-eSU9FkYxBHBsA9Pqsty4rDqCFXGmkI6XlTOutvKH9yXbbJxBuDiRk8AN0&usqp=CAU) !important; 
}
.navbar>.container{
  background-image: url(https://is.zobj.net/image-server/v1/images?r=-qxY07ETmSgsymh1jYg08Qv8QgnWhkHG9y8ao0R-OajC3tpe2A9wvSIMIedNrrjeyQhgUM_T6kw6DHDpZTEbXFl5bmmQOseaK1Ip1fR4gwxPNP-8lQ9vGbXSGgyVE6TDReFNRVacEQJlwzIfP5xQuF2diZ9dVXRxBWYXdeQ67QriHoJYrT6T87dCL661AAoSOA5mN1HMlgPsOFQCdd-IDF5Zt3vfo_4jZf7zf2wD-_ZErvd9xwgwrFJ5L9I);
  box-shadow: 0 0 15px hwb(204 4% 10% / 0.705);
  border-radius: 2%;
}
.h1-home{
  color: aliceblue;
  margin-left: 25px;

}